.carouselprincipal__index {
    z-index: 1;
    height: 60vh;
    margin: 1rem 0 3rem 0;
}

.carousel__img {
    height: 100%;
}
.tarjeta__producto--carousel {
    width: 15rem;
    justify-self: center;
}

.carousel__productos {
    padding: 10%;
    background-color: #EBEBEB;
}